@charset "utf-8";
/* CSS Document */

#maincontent {
    grid-template-columns: repeat(2, 1fr);
    
}
#maincontent #map-container {
  order: 2;
}
#maincontent #restaurant-container, #maincontent #reviews-container {
  order: 1;
}


/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: auto;
  grid-column: 2 / 2;
  grid-row: 1 / 4;
  
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

#restaurant-name {
  /* color: #f18200; */
  color: #47562F;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #47562F;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: 100%;
  grid-column: 1 / 2;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #f58500;
  color: #47562F;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 20px;
  /* position: relative; */
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

@media only screen and (min-width : 700px) and (max-width : 1380px) {
  /* #maincontent #reviews-container {
    width: 85%;
  } */

}

@media only screen and (min-width : 320px) and (max-width : 700px) {
  /* Styles */
  #maincontent {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }

  
  #maincontent #map-container {
    /* order: 1; */
    grid-column: 1 / 1;
    grid-row: 1 / 2;
  }
  
  #maincontent #restaurant-container {
    /* order: 2; */
    padding: 5%;
    grid-column: 1 / 1;
  grid-row: 3 / 4;
  }

  #maincontent #reviews-container {
    /* order: 2; */
    grid-column: 1 / 1;
    grid-row: 4 / 4;
    max-width: 90%;
    padding: 5%;
    margin-bottom: 16%;
  }

  .inside #map-container {
    width: 100%;
    height: 50vh;
    grid-column: 1 / 1;
  }

  .inside #footer {
    max-width: 100%;
    width: auto;
  }
  

  
}
